.img_currency {
  height: 12px;
  width: 12px;
}
.form_group {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  margin: 8px 0;
  position: relative;
  height: 40px;
}
.form_title {
  padding: 0px 16px;
  height: 40px;
  display: flex;
  align-items: center;
  font-size: 14px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  width: 100px;
  background-color: rgba(165, 42, 42, 0.477);
}
.form_option,
.form_result {
  transition: all 0.3s;
  font-size: 14px;
  font-weight: 400;
  font-family: inherit;
  display: block;
  text-align: start;
  box-sizing: border-box;
  width: 200px;
  height: 40px;
  border: 1px solid rgba(165, 42, 42, 0.477);
  outline: none;
  padding: 8px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}
.currency-icon {
  position: absolute;
  right: 24px;
  height: 24px;
  width: 24px;
}
.submit_button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid rgba(165, 42, 42, 0.477);
  padding: 0 24px;
  border-radius: 100px;
  &:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: rgba(165, 42, 42, 0.477);
  }
}
